.post {
  text-align: center;
}

.frame-image {
  height: 150px;
  width: 150px;
  background-color: #ededed;
  margin: 40px auto;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.vector-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 50%;
}

.toukou1 {
  width: 30%;
  /* background-color: sandybrown; */
  background-color: var(--color-palegoldenrod-100);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 28px;
}

/* .title-inner {
  height: 77px;
  width: 375px;
  position: relative;
  background-color: var(git@github.com: Permission denied (publickey).);
  display: none;
  max-width: 100%;
}
.a2 {
  text-decoration: none;
  position: relative;
  color: inherit;
  cursor: pointer;
  z-index: 1;
}
.title2,
.title3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.title3 {
  flex: 1;
  background-color: var(--color-sandybrown);
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-xl) var(--padding-11xs)
    var(--padding-2xl);
  box-sizing: border-box;
}
.title2 {
  align-self: stretch;
  justify-content: flex-start;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-yomogi);
}
.shapes-child {
  height: 150px;
  width: 150px;
  position: relative;
  background-color: var(--border-default-default);
  display: none;
}
.vector-icon {
  height: 29.3px;
  width: 29.3px;
  position: relative;
  z-index: 1;
}
.shapes,
.shapes-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.shapes {
  background-color: var(--border-default-default);
  justify-content: flex-start;
  padding: var(--padding-41xl) 59px 60.7px;
}
.shapes-wrapper {
  justify-content: flex-end;
  padding: 0 var(--padding-41xl) 0 61px;
}
.label {
  width: 240px;
  color: var(--text-default-default);
  display: none;
}
.description,
.label,
.value {
  position: relative;
  line-height: 140%;
}
.description {
  width: 240px;
  display: none;
}
.value {
  width: calc(100% - 19px);
  border: 0;
  outline: 0;
  font-family: var(--body-base);
  font-size: var(--body-base-size);
  background-color: transparent;
  align-self: stretch;
  height: 22px;
  color: var(--text-default-default);
  text-align: left;
  display: inline-block;
  min-width: 151px;
  padding: 0;
}
.drag-icon {
  height: 6.6px;
  width: 6.6px;
  position: relative;
}
.drag-wrapper,
.textarea {
  display: flex;
  align-items: flex-start;
}
.drag-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
}
.textarea {
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-9xs) var(--padding-9xs)
    var(--padding-mini);
  gap: 33.4px;
  min-width: 240px;
  min-height: 80px;
}
.hint {
  width: 240px;
  position: relative;
  line-height: 140%;
  display: none;
}
.textarea-field {
  align-self: stretch;
  height: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--space-200);
}
.tag-icon {
  width: 26.8px;
  height: 26.8px;
  position: relative;
}
.tag-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12.4px 0 0;
}
.div2 {
  position: relative;
}
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 0;
}
.vector-icon1 {
  width: 7.5px;
  height: 15px;
  position: relative;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base-5) 0 0;
}
.category,
.textarea-field-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.category {
  flex-direction: row;
  align-items: flex-start;
  gap: 3.8px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-yomogi);
}
.textarea-field-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-7xl);
}
.map-icon {
  width: 26.3px;
  height: 32.8px;
  position: relative;
}
.map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.add-icon,
.div3 {
  position: relative;
}
.add-icon {
  width: 7.5px;
  height: 15px;
}
.add-icon-wrapper,
.place {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-icon-wrapper {
  flex-direction: column;
  padding: var(--padding-base-5) 0 0;
}
.place {
  flex: 1;
  flex-direction: row;
  gap: 19.5px;
}
.frame-div,
.image-holder {
  align-self: stretch;
  display: flex;
}
.image-holder {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 25px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-yomogi);
}
.frame-div {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 23px;
}
.toukou-item {
  height: 68px;
  width: 236px;
  position: relative;
  border-radius: var(--br-9xl);
  background-color: var(--color-palegoldenrod-100);
  display: none;
}
.icon {
  width: 29.6px;
  height: 28.8px;
  position: relative;
  z-index: 1;
}
.post-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.div4 {
  position: relative;
  font-size: var(--font-size-11xl);
  font-family: var(--font-yomogi);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.toukou-container,
.toukou1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.toukou1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 49px var(--padding-mini) var(--padding-18xl);
  background-color: var(--color-palegoldenrod-100);
  flex: 1;
  border-radius: var(--br-9xl);
  justify-content: space-between;
  gap: var(--gap-xl);
}
.toukou-container {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 17px 0 var(--padding-lg);
}
.frame-container {
  width: 271.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 28.5px;
  flex-shrink: 0;
}
.frame-group {
  width: 343px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--text-default-secondary);
  font-family: var(--body-base);
}
.a4,
.post {
  position: relative;
}
.post {
  width: 100%;
  background-color: var(--background-default-default);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 199px;
  box-sizing: border-box;
  gap: 47px;
  line-height: normal;
  letter-spacing: normal;
}
.a4 {
  text-decoration: none;
  color: inherit;
}
.frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-4xl);
}
.search-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.value1,
.x-icon {
  height: 16px;
  position: relative;
}
.value1 {
  width: calc(100% - 47px);
  border: 0;
  outline: 0;
  font-family: var(--body-base);
  font-size: var(--body-base-size);
  background-color: transparent;
  flex: 1;
  line-height: 100%;
  color: var(--icon-default-tertiary);
  text-align: left;
  display: inline-block;
  min-width: 110px;
  padding: 0;
}
.x-icon {
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.search {
  height: 41px;
  flex: 1;
  border-radius: var(--radius-full);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--space-300) var(--padding-mini) var(--space-300)
    var(--space-400);
  gap: var(--space-200);
}
.category-inner,
.frame-parent1,
.search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  height: 40px;
  flex: 1;
  gap: var(--gap-7xl);
}
.category-inner {
  align-self: stretch;
  padding: 0 var(--padding-lgi) var(--padding-8xs) var(--padding-2xs);
}
.div6 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 64px;
}
.people-checkboxes,
.people-checkboxes1,
.people-checkboxes2 {
  margin: 0;
  width: 33px;
  height: 23px;
}
.checkbox,
.checkbox1 {
  margin: 0;
  width: 23px;
  height: 23px;
  position: relative;
}
.single-checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.single-checkboxes-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 var(--padding-4xs);
}
.div7 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 32px;
}
.people-count-checkbox {
  margin: 0;
  width: 32px;
  height: 23px;
}
.price-options {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.checkbox2 {
  margin: 0;
  width: 23px;
  height: 23px;
  position: relative;
}
.price-checkboxes {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.price-checkboxes-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) var(--padding-8xs) 0;
}
.div8 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 32px;
}
.price-checkbox {
  margin: 0;
  width: 32px;
  height: 23px;
}
.feature-checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.second-feature-checkbox {
  margin: 0;
  width: 32px;
  height: 23px;
}
.feature-checkboxes-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-lg);
}
.div9 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 32px;
}
.fourth-feature-checkbox {
  margin: 0;
  width: 32px;
  height: 23px;
}
.third-feature-checkboxes {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.third-feature-checkboxes-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
}
.people-checkboxes3 {
  margin: 0;
  width: 33px;
  height: 23px;
}
.people-checkboxes-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.frame-wrapper {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs) var(--padding-12xs) 0;
  box-sizing: border-box;
  font-size: var(--body-base-size);
  font-family: var(--body-base);
}
.div10,
.div11,
.div12,
.div13,
.div14 {
  position: relative;
  display: inline-block;
}
.div10,
.div11,
.div12,
.div13 {
  width: 54px;
}
.div14 {
  min-width: 60px;
}
.cuisine-options,
.cuisine-options-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cuisine-options {
  flex-direction: column;
  gap: var(--gap-sm);
}
.cuisine-options-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
}
.div15,
.div16 {
  align-self: stretch;
  position: relative;
}
.people-options-values,
.people-values {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.people-options-values {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.people-values {
  width: 56px;
  flex-direction: row;
  padding: 0 var(--padding-12xs) var(--padding-5xs);
  box-sizing: border-box;
}
.div17,
.div18 {
  position: relative;
  display: inline-block;
}
.div17 {
  width: 104px;
}
.div18 {
  min-width: 123px;
}
.group,
.people-values1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.people-values1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-5xs) var(--padding-12xs);
}
.div19,
.div20 {
  position: relative;
  display: inline-block;
}
.div19 {
  width: 104px;
}
.div20 {
  height: 29px;
  font-size: 15px;
  flex-shrink: 0;
  min-width: 120px;
}
.frame-parent2,
.parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent1 {
  align-self: stretch;
  padding: 0 var(--padding-9xs) 0 0;
  gap: var(--gap-xs);
}
.frame-parent2 {
  flex: 1;
  gap: 38px;
  min-width: 82px;
  margin-left: -1px;
}
.checkbox3,
.checkbox4,
.checkbox5,
.checkbox6 {
  margin: 0;
  width: 23px;
  height: 23px;
  position: relative;
}
.four-checkboxes,
.four-checkboxes-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.four-checkboxes {
  flex-direction: column;
  gap: var(--gap-xl);
}
.four-checkboxes-wrapper {
  flex-direction: row;
  padding: 0 0 var(--padding-14xl) var(--padding-9xs);
}
.checkbox7 {
  margin: 0;
  width: 23px;
  height: 23px;
  position: relative;
}
.button-options-two {
  margin: 0;
  width: 24px;
  height: 23px;
}
.button-checkbox-options,
.button-checkbox-options-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-checkbox-options {
  flex-direction: column;
  gap: var(--gap-xl);
}
.button-checkbox-options-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-12xs);
}
.checkbox8 {
  margin: 0;
  width: 23px;
  height: 23px;
  position: relative;
}
.frame-input {
  margin: 0;
  width: 24px;
  height: 23px;
}
.button-checkboxes-inner,
.checkbox-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox-parent {
  flex-direction: column;
  gap: var(--gap-lg);
}
.button-checkboxes-inner {
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-12xs);
}
.checkbox9 {
  margin: 0;
  width: 23px;
  height: 23px;
  position: relative;
}
.frame-input1 {
  margin: 0;
  width: 24px;
  height: 23px;
}
.single-checkbox-two {
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.button-checkboxes,
.button-checkboxes-wrapper,
.single-checkbox-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button-checkboxes {
  justify-content: flex-start;
  gap: 52px;
}
.button-checkboxes-wrapper {
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) var(--padding-12xs) 0;
  margin-left: -1px;
}
.div21 {
  width: 66px;
}
.div21,
.div22,
.div23,
.div24 {
  position: relative;
  display: inline-block;
}
.div22 {
  min-width: 102px;
}
.div23,
.div24 {
  width: 74px;
}
.div24 {
  width: 94px;
}
.frame-wrapper2,
.parent2,
.time-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent2,
.time-options {
  flex-direction: column;
  gap: var(--gap-sm);
}
.frame-wrapper2 {
  flex-direction: row;
  padding: 0 var(--padding-9xs) var(--padding-14xl);
}
.div25,
.div26 {
  position: relative;
}
.div25 {
  align-self: stretch;
}
.div26 {
  flex: 1;
}
.wrapper1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.people-count-two,
.people-options-two,
.wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.people-options-two {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-sm);
}
.people-count-two {
  width: 105px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.div27,
.div28 {
  position: relative;
  display: inline-block;
  min-width: 125px;
}
.div28 {
  min-width: 80px;
}
.wrapper2 {
  flex-direction: row;
  padding: 0 var(--padding-10xs);
}
.cafe-price-options,
.cafe-price-options-wrapper,
.wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cafe-price-options {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.cafe-price-options-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.div29,
.div30 {
  position: relative;
  display: inline-block;
  min-width: 125px;
}
.div30 {
  min-width: 112px;
}
.wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 var(--padding-9xs);
  font-size: var(--body-base-size);
}
.cafe-attributes {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-mini);
}
.cafe-attributes,
.frame-parent3,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent3 {
  align-self: stretch;
  justify-content: flex-start;
  gap: 46px;
}
.frame-wrapper1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  min-width: 82px;
  margin-left: -1px;
}
.category1,
.frame-section,
.parent {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  color: var(--color-black);
}
.frame-section {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  row-gap: 20px;
  font-size: var(--font-size-xl);
  font-family: var(--font-yomogi);
}
.category1,
.parent {
  flex-direction: column;
  align-items: flex-start;
}
.parent {
  align-self: stretch;
  font-size: var(--body-base-size);
  font-family: var(--body-base);
}
.category1 {
  width: 375px;
  position: relative;
  border-radius: var(--br-31xl) var(--br-31xl) 0 0;
  background-color: var(--background-default-default);
  overflow: hidden;
  padding: var(--padding-mini) var(--padding-lgi) 31px var(--padding-18xl);
  box-sizing: border-box;
  gap: 22px;
  line-height: normal;
  letter-spacing: normal;
  max-width: 90%;
  max-height: 90%;
  font-size: var(--font-size-xl);
  font-family: var(--font-yomogi);
} */
