body {
    margin: 0;
    line-height: normal;
}

.popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
}

.header {
  background-color: var(--color-sandybrown);
  display: flex;
  padding: var(--padding-28xl) var(--padding-28xl) 0 48px;
  font-size: 40px;
  color: var(--color-darkolivegreen);
  font-family: var(--font-yomogi);
  justify-content: center;
}

:root {
    /* fonts */
    --font-work-sans: "Work Sans";
    --font-yomogi: Yomogi;
    --body-base: Inter;

    /* font sizes */
    --font-size-13xl: 32px;
    --font-size-11xl: 30px;
    --body-base-size: 16px;
    --font-size-xl: 20px;

    /* Colors */
    --background-default-default: #fff;
    --color-darkolivegreen: #2d5e17;
    --color-palegoldenrod-100: #ffe6a5;
    --color-sandybrown: #ffb55f;
    --border-default-default: #d9d9d9;
    --color-black: #000;
    --text-default-secondary: #757575;
    --text-default-default: #1e1e1e;
    --icon-default-tertiary: #b3b3b3;

    /* Spacing */
    --space-200: 8px;
    --space-400: 16px;
    --space-300: 12px;
    --radius-200: 8px;
    --radius-full: 9999px;

    /* Gaps */
    --gap-3xs: 10px;
    --gap-xl: 20px;
    --gap-7xl: 26px;
    --gap-5xs: 8px;
    --gap-mini: 15px;
    --gap-xs: 12px;
    --gap-sm: 14px;
    --gap-lg: 18px;
    --gap-6xs: 7px;

    /* Paddings */
    --padding-lg: 18px;
    --padding-4xl: 23px;
    --padding-5xl: 24px;
    --padding-12xs: 1px;
    --padding-10xs: 3px;
    --padding-9xs: 4px;
    --padding-4xs: 9px;
    --padding-28xl: 47px;
    --padding-11xs: 2px;
    --padding-13xl: 32px;
    --padding-xl: 20px;
    --padding-3xs: 10px;
    --padding-mini: 15px;
    --padding-18xl: 37px;
    --padding-base-5: 16.5px;
    --padding-5xs: 8px;
    --padding-41xl: 60px;
    --padding-2xl: 21px;
    --padding-base: 16px;
    --padding-2xs: 11px;
    --padding-xs: 12px;
    --padding-lgi: 19px;
    --padding-14xl: 33px;
    --padding-8xs: 5px;
    --padding-6xs: 7px;

    /* Border radiuses */
    --br-10xl: 29px;
    --br-9xl: 28px;
    --br-xl: 20px;
    --br-31xl: 50px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
  }