.square_contents {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.square_content{
    /* display: block;*/
    position: relative; 
    width: calc(100% / 3);
    height: auto;
    padding: 5px;
}

.icon_box {
    position: absolute;/*絶対配置*/
    right: 5px;
    bottom: 5px;
}
/* 
.favorite_color{
    color: red;
} */

.square_image {
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
