.square_contents {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.square_content{
    /* display: block;*/
    position: relative; 
    width: calc(100% / 3);
    height: auto;
    padding: 5px;
}

.icon_box {
    position: absolute;/*絶対配置*/
    right: 5px;
    bottom: 5px;
}

.square_image {
    object-fit: cover;
    aspect-ratio: 1;
}

.mypage_line{
    display: flex;
    left: 10% 
}

.circle{
    border-radius: 100%;
    aspect-ratio: 1;
    background-color: #d8d8d8;
    color: gray;
    cursor: pointer;
}
