.mypage_line {
    /* text-align: left; */
    width: 300px;
    display: flex;
    margin-top: 10px;
    margin-right: 40%;
}

.circle {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: #d8d8d8;
    color: white;
    font-size: 2vw;
    text-decoration: none;
}

.fontbigger {
    font-size: 5vw;
    font-weight: bold;
}

.title-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-sandybrown);
    width: 100%;
    height: 100%;
    display: none;
}
.div {
    top: 32px;
    left: 84px;
    display: none;
    cursor: pointer;
}
.a,
.div,
.title-item {
    position: absolute;
}
.title-item {
    top: 0;
    left: 0;
    background-color: var(--color-sandybrown);
    width: 100%;
    height: 100%;
    display: none;
}
.a {
    text-decoration: none;
    top: 32px;
    left: 84px;
    color: inherit;
    cursor: pointer;
    z-index: 3;
}
.title,
.title1 {
    background-color: var(--color-sandybrown);
}
.title1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.title {
    height: 77px;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-darkolivegreen);
    font-family: var(--font-yomogi);
}
.profile-picture,
.relic,
.title {
    align-self: stretch;
    position: relative;
}
.profile-picture {
    width: 64px;
    border-radius: 50%;
    background-color: var(--color-gainsboro-100);
}
.relic {
    text-decoration: none;
    color: inherit;
}
.relic-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 18px 0 0;
}
.profile-picture-parent {
    align-self: stretch;
    flex: 1;
    flex-direction: row;
    gap: 15px;
}
.author-name,
.profile-content,
.profile-picture-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.author-name {
    width: 245px;
    height: 64px;
    flex-direction: row;
    padding: 0 27px;
    box-sizing: border-box;
}
.profile-content {
    align-self: stretch;
    flex-direction: column;
    padding: 0 0 5px;
    gap: 11px;
    top: 0;
    z-index: 99;
    position: sticky;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: var(--font-yomogi);
}
.icon {
    margin: auto;
}
.icon-badge {
    padding: 10px;
}
.shape {
    margin: auto;
    width: 40px;
    background-color: #ea3d34;
    height: 3px;
}
.indicator {
    width: 24px;
    height: 6px;
    position: relative;
}
.tab-contents {
    text-align: center;
}
.tab {
    width: 100%;
}
.tab-group {
    background-color: #ffa100;
    border-radius: 20px;
    display: flex;
}
.divider,
.divider1 {
    height: 1px;
    box-sizing: border-box;
}
.divider1 {
    flex: 1;
    position: relative;
    border-top: 1px solid var(--schemes-surface-container-highest);
    max-width: 100%;
}
.divider {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1px 0 0;
}
.divider {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}
.author-profile-child {
    cursor: pointer;
}
.author-profile-child,
.author-profile-inner,
.author-profile-item {
    height: 125px;
    flex: 1;
    position: relative;
    background-color: var(--color-gainsboro-100);
    min-width: 91px;
}
.author-profile {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
}
.frame-child,
.frame-inner,
.frame-item {
    height: 124px;
    flex: 1;
    position: relative;
    background-color: var(--color-gainsboro-100);
    min-width: 91px;
}
.rectangle-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
}
.frame-child1,
.frame-child2,
.frame-child3,
.frame-child4,
.frame-child5,
.rectangle-div {
    height: 124px;
    width: 121px;
    position: relative;
    background-color: var(--color-gainsboro-100);
}
.frame-child3,
.frame-child4,
.frame-child5 {
    height: 125px;
}
.proflie,
.rectangle-group {
    display: flex;
    justify-content: flex-start;
}
.rectangle-group {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5px;
    min-height: 254px;
}
.proflie {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    flex-direction: column;
    /* align-items: flex-end; */
    padding: 0 0 84px;
    box-sizing: border-box;
    gap: 4px;
    line-height: normal;
    letter-spacing: normal;
}
